<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID</title>
  </head>
  <body>
    <p>Total Cases: <%=Data1%></p>
    <p>New Cases: <%=Data2%></p>
    <p>Total Deaths: <%=Data3%></p>
    <p>New Deaths: <%=Data4%></p>
    <p>Total Recovered: <%=Data5%></p>
    <p>New Recovered: <%=Data6%></p>
    <p>City Name: <%=Data9%></p>
    <p>Temperature: <%=Data7%></p>
    <p>Weather Description: <%=Data8%></p>
    <img src="<%=iCon%>" alt="ICON" />
  </body>
</html>
